/* Eric Meyer's Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
 :before,
 :after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}


/*font face*/

body {
    font-size: 2.8em;
    font-family: 'Khand', sans-serif;
    line-height: 1.2;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    text-align: center;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

body img {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

figure {
    width: 163px;
    margin: 0 auto;
}

*:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*
 2.0.1) Font Face
 -----------------------------*/


/*Put Your font face Styles here*/

@font-face {
    font-family: 'BD Nippori  Bee IT';
    src: url('../fonts/BDNippori-2005BeeIT.woff2') format('woff2'), url('../fonts/BDNippori-2005BeeIT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*
 2.0.3) Form Elements
 -----------------------------*/

input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: inherit;
    background: #fff;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}

input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
    color: #e9b240;
}

a:focus {
    outline: none;
    border: none;
}

input,
textarea {
    line-height: normal;
    color: #c8c8c8;
    background-color: #101113;
    padding: 13px 13px 11px;
    width: 100%;
    box-shadow: none;
    font-size: 3.4em;
    font-weight: 400;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border: none;
    outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    border: 1px solid #3a3b3c;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/*** iPhone and iOS Form Input Zoom Fixes ***/


/* Fix Input Zoom on devices older than iPhone 5: */

@media screen and (max-device-width:767px) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="url"] {
        font-size: 16px !important;
    }
}


/*
 2.0.4) List Styles
 ---------------------------------*/


/*
 2.0.9) Sprite Icons
 -------------------------*/

[class^="icon-"],
[class*="icon-"] {
    background-image: url("../images/sprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    vertical-align: text-top;
    width: 14px;
    font-size: 0;
}


/*global heading*/

h1 {
    font-size: 5.5rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 2.1rem;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-size: 3.6rem;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px;
}

h5 {
    color: #ed6c17;
    font-size: 5.2rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    font-size: 15px;
    color: #e9b240;
    margin-bottom: 10px;
    line-height: 1.2;
}

h6 {
    font-size: 29px;
    line-height: 1.2;
}


/* Containers*/

.container {
    max-width: 1000px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}